In [150]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [151]:
import pandas as pd
import numpy as np
import seaborn    as sns
import pandas as pd
import matplotlib.pyplot as plt

In [152]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [153]:
data = pd.read_csv("/content/train.csv")
print(data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0        NaN  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0        NaN   6.00
3     1968 CC  140.8 bhp    5.0        NaN  17.74
4     1461 CC   63.1 bhp    5.0        NaN   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0        NaN   4.00
5844  2498 CC    112 bhp    8.0        NaN   2.90
5845   998 CC   67.1 bhp    5.0        NaN   2.65
5846   936 CC   57.6 bhp    5.0        NaN   2.50

[5847 rows x 14 columns]

In [154]:
data.shape

(5847, 14)

In [155]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [156]:
data.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  5847.000000  5847.000000       5.847000e+03  5809.000000  5847.000000
mean   3013.181461  2013.448435       5.841013e+04     5.286452     9.653742
std    1736.398890     3.194949       9.237971e+04     0.806668    11.275966
min       1.000000  1998.000000       1.710000e+02     2.000000     0.440000
25%    1509.500000  2012.000000       3.346750e+04     5.000000     3.550000
50%    3015.000000  2014.000000       5.257600e+04     5.000000     5.750000
75%    4517.500000  2016.000000       7.249050e+04     5.000000    10.250000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

#Check for the Misising Values

In [157]:
missing_values = data.isnull().sum()
print(missing_values )

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

#Mean of Kilometers driven

In [158]:
mean_value = data['Kilometers_Driven'].mean()
print(f"Mean of Kilometers Driven: {mean_value}")

Mean of Kilometers Driven: 58410.13459893963

#Median of the seats

In [159]:
median_seats =  data['Seats'].median()
print(f"Number of the seats: {median_seats}")

Number of the seats: 5.0

#Remove units from the columns and keep only the numerical values

In [160]:
data['Mileage'] = data['Mileage'].astype(str)
data['Engine'] = data['Engine'].astype(str)
data['Power'] = data['Power'].astype(str)
data['New_Price'] = data['New_Price'].astype(str)

data['Mileage'] = data['Mileage'].str.replace(' km/kg', '').str.replace(' kmpl', '')
data['Mileage'] = pd.to_numeric(data['Mileage'], errors='coerce')

data['Engine'] = data['Engine'].str.replace(' CC', '')
data['Engine'] = pd.to_numeric(data['Engine'], errors='coerce')

data['Power'] = data['Power'].str.replace(' bhp', '').str.replace('null', '0.0')
data['Power'] = pd.to_numeric(data['Power'], errors='coerce')

data['New_Price'] = data['New_Price'].str.replace(' Lakh', '')
data['New_Price'] = pd.to_numeric(data['New_Price'], errors='coerce')

In [161]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [162]:
for column in missing_values.index:
    if missing_values[column] > 0:
        if data[column].dtype == np.number:
            # Replace missing values with the mean for numerical columns
            data[column].fillna(data[column].mean(), inplace=True)
        else:
            # Replace missing values with the mode for categorical columns
            data[column].fillna(data[column].mode().iloc[0], inplace=True)

<ipython-input-162-f80693b15520>:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if data[column].dtype == np.number:

Removing rows with missing values can result in a significant loss of data, so imputation ensures that the dataset remains complete and all columns have values. This approach maintains the statistical properties of the data, such as central tendency, making it suitable for various analysis and modeling tasks

In [163]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,20.892218,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.610000,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,20.892218,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,20.892218,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,20.892218,3.50

# Impute missing values in numerical columns with the mean

In [164]:
data['Kilometers_Driven'].fillna(data['Kilometers_Driven'].mean(), inplace=True)
data['Seats'].fillna(data['Seats'].median(), inplace=True)

In [165]:
data['Fuel_Type'].fillna('Unknown', inplace=True)
data['Transmission'].fillna('Unknown', inplace=True)

In [166]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,20.892218,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.610000,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,20.892218,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,20.892218,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,20.892218,3.50

# Convert "Fuel_Type" and "Transmission" to one-hot encoded columns

In [167]:
data = pd.get_dummies(data, columns=["Fuel_Type", "Transmission"])

In [168]:
print(data.head(15))

    Unnamed: 0                                 Name    Location  Year  \
0            1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1            2                         Honda Jazz V     Chennai  2011
2            3                    Maruti Ertiga VDI     Chennai  2012
3            4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4            6               Nissan Micra Diesel XV      Jaipur  2013
5            7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6            8  Volkswagen Vento Diesel Comfortline        Pune  2013
7            9       Tata Indica Vista Quadrajet LS     Chennai  2012
8           10                     Maruti Ciaz Zeta       Kochi  2018
9           11          Honda City 1.5 V AT Sunroof     Kolkata  2012
10          12                Maruti Swift VDI BSIV      Jaipur  2015
11          13     Land Rover Range Rover 2.2L Pure       Delhi  2014
12          14       Land Rover Freelander 2 TD4 SE        Pune  2012
13          15          Mitsubishi Pajero Sport 4X4       Delhi  2014
14          16                Honda Amaze S i-Dtech       Kochi  2016

    Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0               41000      First    19.67  1582.0  126.20    5.0  20.892218
1               46000      First    13.00  1199.0   88.70    5.0   8.610000
2               87000      First    20.77  1248.0   88.76    7.0  20.892218
3               40670     Second    15.20  1968.0  140.80    5.0  20.892218
4               86999      First    23.08  1461.0   63.10    5.0  20.892218
5               36000      First    11.36  2755.0  171.50    8.0  21.000000
6               64430      First    20.54  1598.0  103.60    5.0  20.892218
7               65932     Second    22.30  1248.0   74.00    5.0  20.892218
8               25692      First    21.56  1462.0  103.25    5.0  10.650000
9               60000      First    16.80  1497.0  116.30    5.0  20.892218
10              64424      First    25.20  1248.0   74.00    5.0  20.892218
11              72000      First    12.70  2179.0  187.70    5.0  20.892218
12              85000     Second     0.00  2179.0  115.00    5.0  20.892218
13             110000      First    13.50  2477.0  175.56    7.0  32.010000
14              58950      First    25.80  1498.0   98.60    5.0  20.892218

    Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0   12.50                 1                   0                 0
1    4.50                 0                   0                 1
2    6.00                 1                   0                 0
3   17.74                 1                   0                 0
4    3.50                 1                   0                 0
5   17.50                 1                   0                 0
6    5.20                 1                   0                 0
7    1.95                 1                   0                 0
8    9.95                 0                   0                 1
9    4.49                 0                   0                 1
10   5.60                 1                   0                 0
11  27.00                 1                   0                 0
12  17.50                 1                   0                 0
13  15.00                 1                   0                 0
14   5.40                 1                   0                 0

    Transmission_Automatic  Transmission_Manual
0                        0                    1
1                        0                    1
2                        0                    1
3                        1                    0
4                        0                    1
5                        1                    0
6                        0                    1
7                        0                    1
8                        0                    1
9                        1                    0
10                       0                    1
11                       1                    0
12                       1                    0
13                       0                    1
14                       0                    1

In [169]:
missing_values = data.isnull().sum()
print(missing_values )

Unnamed: 0                0
Name                      0
Location                  0
Year                      0
Kilometers_Driven         0
Owner_Type                0
Mileage                   0
Engine                    0
Power                     0
Seats                     0
New_Price                 0
Price                     0
Fuel_Type_Diesel          0
Fuel_Type_Electric        0
Fuel_Type_Petrol          0
Transmission_Automatic    0
Transmission_Manual       0
dtype: int64

Create one more feature and add this column to the dataset you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting Year value
from the current year

In [173]:
import datetime

# Calculate the current year
current_year = datetime.datetime.now().year

# Add an "Age" column
data['Age'] = current_year - data['Year']

In [174]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,20.892218,12.50,1,0,0,0,1,8
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.610000,4.50,0,0,1,0,1,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,20.892218,6.00,1,0,0,0,1,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,20.892218,17.74,1,0,0,1,0,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,20.892218,3.50,1,0,0,0,1,10

In [177]:
final_data = data.to_csv("final.csv", index=False)